* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    background-image: url("Imagens/Red-Gradient-Background.jpg");
    background-repeat: no-repeat;
    min-height: 8vh;
    text-align: center;
    padding: 0px;
    height: 200px;
    justify-content: center;
}

.logo {
    background-image: url("Imagens/Portugal_FPF.png");
    width: 120px;
    height: 160px;
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 15px;
}


/* Menu Text */
.nav-area {
    padding-left: 50px;
    list-style:none;
    display: flex;
    justify-content: space-around;
    width: 70%;
    letter-spacing: 8px;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    padding-bottom: 30px;
}

.nav-area > li {
    padding: 15px;
    transition:ease-in-out;
    transition-duration: 0.6s;
    transition-timing-function: linear;
    transition-delay: 0.1s;
}

.nav-area > li:hover {
    border-radius: 30px;
    background-color: #640000;
    transition:ease-in-out;
    transition-duration: 0.6s;
    transition-timing-function: linear;
    transition-delay: 0.1s;
}

nav .menu{
    text-decoration: none;
    color:white;
    text-align: center;
}


#subscribe {
  text-decoration: underline;
  text-underline-offset: 8px;
}


footer{
  background-color: #990000;
  padding: 15px;
  text-align: center;
}


.contact-area{
  text-decoration: none;
  color: white;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 15px;
}

#terms{
  font-size: 10px;
  letter-spacing: 3px;
  display: flex;
  flex-direction: column;
  margin: 8px;
}

/* Transition in Navigation area */

nav {
    transition:ease-in-out;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0.25s;
}

/* Nav underline */
#news {
    text-decoration: underline;
    text-underline-offset: 8px;
}

main {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  gap: 25px;
  align-items: center;
}

main div h1 {
  margin-bottom: 20px;
}

main div img {
  max-width: 500px;
  border-radius: 5px;
}

main div hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: red;
}

a:hover{
    font-size: 110%;
    text-decoration: underline;
    transition:.7s;
}

footer{
    background-color: #990000;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width:1200px) {
    .nav-area{
        flex-direction: column;
        position: absolute;
        line-height: 2;
        font-size: 15px;
        margin-top: 22px;
        width: auto;
    }

    .nav-area > li {
        padding: 0px;
    }

    .nav-area > li:hover {
        border-radius: 30px;
        background-color: #640000;
        transition:ease-in-out;
        transition-duration: 0.6s;
        transition-timing-function: linear;
        transition-delay: 0.1s;
    }
}

@media screen and (max-width: 1100px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  main div img {
    max-width: 400px;
  }
}


@media screen and (max-width:500px){
  .nav-area {
    flex-direction: row;
    font-size: 10px;
    letter-spacing: 3px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
  }

  .logo {
    position: relative;
    margin: 6% auto;
    left: 0;
    bottom: 15px;
  }

  nav {
    height: 230px;
    display: flex;
    align-items: flex-end;
  }
  
  .contact-area {
    font-size: 10px;
  }

  .ftr {
    display: flex;
    justify-content: center;
  }

  #contacts{
    font-size: 10px;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    margin: 20px;
  }
  #newsletter{
    font-size: 10px;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    margin: 20px;
  }
  #terms{
    font-size: 10px;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 20px;
  }
}


@media screen and (max-width: 450px) {
  main {
    width: 85%;
  }

  main div img {
    max-width: 300px;
  }

  .nav-area {
    flex-direction: row;
    font-size: 10px;
    letter-spacing: 3px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
  }

  .logo {
    position: relative;
    margin: 6% auto;
    left: 0;
    bottom: 15px;
  }

  nav {
    height: 230px;
    display: flex;
    align-items: flex-end;
  }

  .contact-area {
    font-size: 10px;
  }

  footer {
    display: flex;
    justify-content: center;
  }

  #contacts{
    font-size: 10px;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    margin: 20px;
  }

  #newsletter{
    font-size: 10px;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    margin: 20px;
  }
  #terms{
    font-size: 10px;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 20px;
  }
}