*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navigation Area */
nav{
    display: flex;
    align-items: center;
    background-image: url("Imagens/Red-Gradient-Background.jpg");
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    min-height: 8vh;
    text-align: center;
    padding: 20px;
    height: 300px;
}


/*Image of Nav Area*/
.logo{
    background-image: url("Imagens/Portugal_FPF.png");
    display: inline-block;
    height: 200px;
    width: 150px;
    background-size: 150px;
    position: relative;
    background-repeat: no-repeat;
    top: -10px;
    left: 20px;
}


/* Menu Text */
.nav-area {
    padding-left: 50px;
    list-style:none;
    display: flex;
    justify-content: space-around;
    width: 70%;
    letter-spacing: 8px;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    padding-bottom: 30px;
}


nav .menu{
    position: relative;
    text-decoration: none;
    color:white;
    text-align: center;
    align-content: center;
}


/* Transition in Navigation area */
nav{
    transition:ease-in-out;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0.25s;
}


/* Nav underline */
#main {
    text-decoration: underline;
    text-underline-offset: 8px;
} 


footer{
    background-color: #990000;
}


/*Adjust for smartphone / tablet */
@media screen and (max-width:1000px) {
    .nav-area{
        flex-direction: column;
        align-items: center;
        line-height: 2.2;
        top: 10px;       
    }   
}