*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


/* Navigation Area */
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("Imagens/Red-Gradient-Background.jpg");
    background-repeat: no-repeat;
    min-height: 8vh;
    text-align: center;
    padding: 0px;
    height: 200px;
}

/*Image of Nav Area*/
.logo {
    background-image: url("Imagens/Portugal_FPF.png");
    width: 120px;
    height: 160px;
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 15px;
}


/* Menu Text */
.nav-area {
    list-style:none;
    display: flex;
    justify-content: space-around;
    letter-spacing: 5px;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 30px;
    width: 70%;
}


nav .menu{
    
    text-decoration: none;
    color:rgb(255, 255, 255);
    text-align: center;
    
    
}


/* Transition in Navigation area */
nav{
    transition:ease-in-out;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0.25s;
}


/* Nav underline */
#online {
    text-decoration: underline;
    text-underline-offset: 8px;
}


footer{
    background-color: #990000;
    padding: 15px;
    text-align: center;
}


.contact-area{
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 15px;

}

.nav-area > li {
    padding: 15px;
    transition:ease-in-out;
    transition-duration: 0.6s;
    transition-timing-function: linear;
    transition-delay: 0.1s;
}

.nav-area > li:hover {
    border-radius: 30px;
    background-color: #640000;
    transition:ease-in-out;
    transition-duration: 0.6s;
    transition-timing-function: linear;
    transition-delay: 0.1s;
}

#terms{
    font-size: 10px;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.cart{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 20px;
    
    
}


#cf {
    position:relative;
    height:281px;
    width:450px;
    margin:0 auto;
    
  }
  
#cf img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    border-radius: 5%;
  }
  
#cf img.top:hover {
    opacity:0;
}

h2{
    margin-left: 100px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

.col-4{
    flex-basis: 400px;
    min-width: 100px;
    
    
}

.col-4 img{
    
    width: 300px ;
    margin-left: 20px;
    
}




.col-4 h4{
    margin-left: 15%;
    font-size: 20px;
    margin-top: 100px;
    
}
.col-4 p{
    margin-bottom: 100px;
    margin-left: 30%;
}

select{
    border: 1px solid #990000;
    padding: 5px;
}

select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;

}


.page-btn span{
    display: inline-block;
    border: 1px solid #990000;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover{
    background:#990000 ;
    color: #fff;
}

#id1{
    background-color: #990000;
    color: #fff;
}

#id2{
    background-color: #990000;
    color: #fff;
}
#id3{
    background-color: #990000;
    color: #fff;
}

.btn{
    background-color: #990000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    
}


/*---------single product details -----------*/



.img1 {    
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  

}

.img1 img{
    width: 400px;
    border-radius: 5%;

}

.col-5 {
    flex-basis: 170px;
    padding: 20px;
  

}

.row{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.col-3{
   
    padding: 40px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 261px;    
}
.col-3 >select{
    margin-top: 10px;
    margin-bottom: 10px;
}

.col-3 > input{
    margin-bottom: 10px;
    text-align: center;
}



.div2{
    display: flex;
    justify-content: center;
    border-right: #990000 solid 5px;
    border-radius: 30px;
    border-bottom: #990000 solid 5px;
}


.single-product .col-2 img{
     
     border-radius: 5%;
}

.single-product .col-2{
    padding: 20px;
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select{
     display: block;
     padding: 10px;
     margin-top: 10px;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20;
    margin-right: 10px;
    border: 1px solid #990000;

}

input:focus{
    outline: none;
}

.single-product .fa{
    color: #990000;
    margin-left: 10px;
}

.col-5{
    display: flex;
    margin: 10px;
   
  
}



.col-5 img{
    
    width: 100px ;
    margin-left: 10px;
    
}




.col-5 h4{
    margin-left: 15%;
    font-size: 20px;

    
    
}
.col-5text p{
    margin-bottom: 100px;
    margin-left: 30%;
}


/*-------------------- cart items--------------------*/

.toptable{
    text-align: center;
    
    
}
.cart-page{
    margin: 0px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
    
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: rgb(8, 71, 16);
    font-weight: normal;
}


td{
    padding: 10px 5px;
    
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: #990000;
    font-size: 12px;
}

td img{
    width: 200px;
    height: 200px;
    margin-right: 10px;
    margin-left: 27% ;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
   border-top: 3px solid #990000; 
   width: 100%;
   max-width: 370px;
   
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

tr{
    margin-left: 10%;
}

.btn{
    cursor:pointer;
}

.cart {
    cursor: pointer;
}

/*Adjust for smartphone / tablet */
@media screen and (max-width:1200px) {
    .nav-area{
        flex-direction: column;
        position: absolute;
        line-height: 2;
        font-size: 15px; 
        margin-top: 22px;
        width: auto;
    }   

    .nav-area > li {
        padding: 0px;
    }

    .nav-area > li:hover {
        border-radius: 30px;
        background-color: #640000;
        transition:ease-in-out;
        transition-duration: 0.6s;
        transition-timing-function: linear;
        transition-delay: 0.1s;
    }
}


@media screen and (max-width:750px) {

    .div2{
        border: none;
        flex-direction: column;
    }

    .col-3{
        margin-top: 0;
        margin-left: 0;
    }
}

@media screen and (max-width:500px) {

    .nav-area {
        flex-direction: row;
        font-size: 10px;
        letter-spacing: 3px;
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
    }

    .logo {
        position: relative;
        margin: 6% auto;
        left: 0;
        bottom: 15px;
    }

    nav {
        height: 230px;
        display: flex;
        align-items: flex-end;
    }

    .contact-area {
        font-size: 10px;
    }

    footer {
        display: flex;
        justify-content: center;
    }
    
    footer {
        display: flex;
        justify-content: center;
    }

    #contacts{
        font-size: 10px;
        letter-spacing: 3px;
        display: flex;
        align-items: center;
        margin: 20px;
    }
    #newsletter{
        font-size: 10px;
        letter-spacing: 3px;
        display: flex;
        align-items: center;
        margin: 20px;
    }
    #terms{
        font-size: 10px;
        letter-spacing: 3px;
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 20px;
    }

    .cart-info p{
        display: none;
    }
}
