
*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Area */

nav{
    display: flex;
    align-items: center;
    background-image: url("Imagens/Red-Gradient-Background.jpg");
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    min-height: 8vh;
    text-align: center;
    padding: 20px;
    height: 300px;
}

.logo{
    background-image: url("Imagens/Portugal_FPF.png");
    display: inline-block;
    height: 200px;
    width: 150px;
    background-size: 150px;
    position: relative;
    background-repeat: no-repeat;
    top: -10px;
    left: 20px;
    
}

/* Menu Text */
.nav-area {
    padding-left: 50px;
    list-style:none;
    display: flex;
    justify-content: space-around;
    width: 70%;
    letter-spacing: 8px;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    padding-bottom: 30px;
}


nav .menu{
    position: relative;
    text-decoration: none;
    color:white;
    text-align: center;
    align-content: center;
}

/* Transition in Navigation area */

nav{
    transition:ease-in-out;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0.25s;
}

/* Nav underline */
#news {
    text-decoration: underline;
    text-underline-offset: 8px;
}

.contact-area{
    background-color: #990000;
}

#img1{
   background-image: url("Imagens/plantel.png");
   display: inline-block;
   border-radius: 13px;
   background-repeat: no-repeat;
   background-size: 700px;
   width: 600px;
   height: 325px;

}

#img3{
    background-image: url("Imagens/konami.jpg");
    display: flex;
    background-repeat: no-repeat;
    border-radius: 13px;
    background-size: 700px;
    background-position: center;
    width: 600px;
    height: 325px;
}

#img2{
    background-image: url("Imagens/fernandogomes.jpg");
    display: flex;
    background-repeat: no-repeat;
    border-radius: 13px;
    background-size: 700px;
    background-position: center;
    width: 600px;
    height: 325px;
}

#img6{
    background-image: url("Imagens/noticia2.jpg");
    display: flex;
    background-repeat: no-repeat;
    border-radius: 13px;
    background-size: 700px;
    background-position: center;
    margin-right: 70px;
    width: 600px;
    height: 325px;
}

#img7{
    background-image: url("Imagens/plantel.png");
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 13px;
    background-size: 700px;
    width: 600px;
    height: 325px;
}

#img5{
    background-image: url("Imagens/fifaworldcup.jpg");
    display: flex;
    background-repeat: no-repeat;
    background-size: 700px;
    border-radius: 13px;
    background-position: center;
    width: 600px;
    height: 325px;
}



#img4{
    background-image: url("Imagens/vitoroliveira.jpg");
    display: flex;
    background-repeat: no-repeat;
    border-radius: 13px;
    background-size: 700px;
    width: 600px;
    height: 325px;
}

#img8{
    background-image: url("Imagens/croacia.png");
    display: flex;
    background-repeat: no-repeat;
    background-size: 700px;
    border-radius: 13px;
    width: 600px;
    height: 325px;
}

article{
    display: flex;
    justify-content: space-around;
    column-count: 2;
}

article p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;

}

article a{
    text-decoration: none;
    color:black;
}

.date{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.rightside, .leftside{
    margin-top: 10px;
}

.leftnew, .rightnew{
    margin-bottom: 19px;
}
