*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Area */

nav{
    display: flex;
    align-items: center;
    background-image: url("Imagens/Red-Gradient-Background.jpg");
    background-repeat: no-repeat;
    min-height: 8vh;
    text-align: center;
    padding: 0px;
    height: 200px;
    justify-content: center;
}

.logo {
    background-image: url("Imagens/Portugal_FPF.png");
    width: 120px;
    height: 160px;
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 15px;
}


/* Menu Text */
.nav-area {
    padding-left: 50px;
    list-style:none;
    display: flex;
    justify-content: space-around;
    width: 70%;
    letter-spacing: 8px;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    padding-bottom: 30px;
}

.nav-area > li {
    padding: 15px;
    transition:ease-in-out;
    transition-duration: 0.6s;
    transition-timing-function: linear;
    transition-delay: 0.1s;
}

.nav-area > li:hover {
    border-radius: 30px;
    background-color: #640000;
    transition:ease-in-out;
    transition-duration: 0.6s;
    transition-timing-function: linear;
    transition-delay: 0.1s;
}

nav .menu{
    text-decoration: none;
    color:white;
    text-align: center;
}


#subscribe {
    text-decoration: underline;
    text-underline-offset: 8px;
}


.ftr{
    background-color: #990000;
    padding: 15px;
    text-align: center;
}


.contact-area{
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 15px;
}

#terms{
    font-size: 10px;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    margin: 8px;
}


/* Transition in Navigation area */

nav{
    transition:ease-in-out;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0.25s;
}

/* Nav underline */
#news {
    text-decoration: underline;
    text-underline-offset: 8px;
}


#img1{
   background-image: url("Imagens/plantel.png");
   display: inline-block;
   border-radius: 13px;
   background-repeat: no-repeat;
   background-size: 700px;
   width: 600px;
   height: 325px;

}

#img3{
    background-image: url("Imagens/konami.jpg");
    display: flex;
    background-repeat: no-repeat;
    border-radius: 13px;
    background-size: 700px;
    background-position: center;
    width: 600px;
    height: 325px;
}

#img2{
    background-image: url("Imagens/fernandogomes.jpg");
    display: flex;
    background-repeat: no-repeat;
    border-radius: 13px;
    background-size: 700px;
    background-position: center;
    width: 600px;
    height: 325px;
}

#img6{
    background-image: url("Imagens/noticia2.jpg");
    display: flex;
    background-repeat: no-repeat;
    border-radius: 13px;
    background-size: 700px;
    background-position: center;
    width: 600px;
    height: 325px;
}

#img7{
    background-image: url("Imagens/adversarios.jpg");
    display: flex;
    background-repeat: no-repeat;
    border-radius: 13px;
    background-size: 700px;
    width: 600px;
    height: 325px;
}

#img5{
    background-image: url("Imagens/fifaworldcup.jpg");
    display: flex;
    background-repeat: no-repeat;
    background-size: 700px;
    border-radius: 13px;
    background-position: center;
    width: 600px;
    height: 325px;
}



#img4{
    background-image: url("Imagens/vitoroliveira.jpg");
    display: flex;
    background-repeat: no-repeat;
    border-radius: 13px;
    background-size: 700px;
    width: 600px;
    height: 325px;
}

#img8{
    background-image: url("Imagens/croacia.png");
    display: flex;
    background-repeat: no-repeat;
    background-size: 700px;
    border-radius: 13px;
    width: 600px;
    height: 325px;
}

article{
    display: flex;
    justify-content: space-around;
    column-count: 2;
}

article p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;

}

article a{
    text-decoration: none;
    color:black;
}

.date{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.rightside, .leftside{
    margin-top: 10px;
}

.leftnew, .rightnew{
    margin-bottom: 19px;
}

@media screen and (max-width:1200px) {
    .nav-area{
        flex-direction: column;
        position: absolute;
        line-height: 2;
        font-size: 15px; 
        margin-top: 22px;
        width: auto;
    }   

    .nav-area > li {
        padding: 0px;
    }

    .nav-area > li:hover {
        border-radius: 30px;
        background-color: #640000;
        transition:ease-in-out;
        transition-duration: 0.6s;
        transition-timing-function: linear;
        transition-delay: 0.1s;
    }

    #separation {
        display: none;
    }

    article{
        flex-wrap: wrap;
    }
}

@media screen and (max-width:1300px){
    article{
        flex-wrap:wrap;
    }
}


#img1,#img2,#img3,#img4,#img5,#img6,#img7,#img8 {
    padding: 50px;
    transition: transform .4s; 

    width: 600px;
    height: 325px;
    margin: 0 auto;
  }
  
#img1:hover,#img2:hover,#img3:hover,#img4:hover,#img5:hover,#img6:hover,#img7:hover,#img8:hover {
    transform: scale(1.01);
}
@media screen and (max-width:500px){
    .nav-area {
        flex-direction: row;
        font-size: 10px;
        letter-spacing: 3px;
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
    }

    .logo {
        position: relative;
        margin: 6% auto;
        left: 0;
        bottom: 15px;
    }

    nav {
        height: 230px;
        display: flex;
        align-items: flex-end;
    }
    
    .contact-area {
        font-size: 10px;
    }

    .ftr {
        display: flex;
        justify-content: center;
    }

    #contacts{
        font-size: 10px;
        letter-spacing: 3px;
        display: flex;
        align-items: center;
        margin: 20px;
    }
    #newsletter{
        font-size: 10px;
        letter-spacing: 3px;
        display: flex;
        align-items: center;
        margin: 20px;
    }
    #terms{
        font-size: 10px;
        letter-spacing: 3px;
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 20px;
    }
}
